/*
 * at91-sama5d3_xplained.dts - Device Tree file for the SAMA5D3 Xplained board
 *
 *  Copyright (C) 2014 Atmel,
 *		  2014 Nicolas Ferre <nicolas.ferre@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "sama5d3.dtsi"
#include "sama5d3_emac.dtsi"
#include "sama5d3_lcd.dtsi"
#include "sama5d3_tcb1.dtsi"
#include "sama5d3_uart.dtsi"

/ {
	model = "SAMA5D3 Robot";
	compatible = "atmel,sama5d3-rbt410", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x20000000 0x10000000>;
	};

	clocks {
		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	ahb {
		apb {
			mmc0: mmc@f0000000 {				
				status = "disabled";				
			};

			mmc1: mmc@f8000000 {
				status = "disabled";				
			};

			spi0: spi@f0004000 {
				cs-gpios = <&pioD 13 0>, <0>, <0>, <0>;
				status = "okay";
				spidev@0 {
					compatible = "linux,spidev";
					spi-max-frequency = <1000000>;
					reg = <0>;
				};
			};

			can0: can@f000c000 {
				status = "disabled";
			};

			tcb0: timer@f0010000 {
				timer0: timer@0 {
					compatible = "atmel,tcb-timer";
					reg = <0>;
				};

				timer1: timer@1 {
					compatible = "atmel,tcb-timer";
					reg = <1>;
				};
			};

			i2c0: i2c@f0014000 {
				status = "disabled";
			};

			i2c1: i2c@f0018000 {
				status = "disabled";
			};

			macb0: ethernet@f0028000 {
				phy-mode = "rgmii";
				#address-cells = <1>;
				#size-cells = <0>;
				status = "disabled";
			};

			pwm0: pwm@f002c000 {
				status = "disabled";
			};

			usart0: serial@f001c000 {
				pinctrl-0 = <&pinctrl_usart0 &pinctrl_usart0_rts_cts>;
				status = "okay";
			};

			usart1: serial@f0020000 {				
				pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts_cts>;
				status = "okay";
			};

			uart0: serial@f0024000 {
				status = "disabled";
			};

			mmc1: mmc@f8000000 {				
				status = "disabled";
				
			};

			spi1: spi@f8008000 {				
				pinctrl-0 = <&pinctrl_spi1 &pinctrl_spi1_cs0>;
				status = "okay";

				touch-spi@0 {
					pinctrl-0 = <&pinctrl_touch>;
					spi-max-frequency = <1000000>;
					compatible = "ti,tsc2046";
					reg = <0>;
					ti,keep-vref-on = <1>;
					interrupt-parent = <&pioC>;
					interrupts = <31 0x0>;
					pendown-gpio = <&pioC 31 0>;
					

					/* driver defaults */
					ti,x-min = /bits/ 16 <230>;
					ti,y-min = /bits/ 16 <230>;
					ti,x-max = /bits/ 16 <3700>;
					ti,y-max = /bits/ 16 <3900>;
					ti,pressure-min = /bits/ 16 <0>;
					ti,pressure-max = /bits/ 16 <1000>;
					ti,x-plate-ohms = /bits/ 16 <400>;
					ti,swap-xy = <1>;
					ti,debounce-max = /bits/ 16 <30>;
					ti,debounce-tol = /bits/ 16 <10>;
					ti,debounce-rep = /bits/ 16 <1>;

					/* other options 
					ti,vref-delay-usecs
					ti,vref-mv
					
					ti,settle-delay-usec
					ti,penirq-recheck-delay-usecs
					ti,y-plate-ohms
					ti,pendown-gpio-debounce
					linux,wakeup
					*/

				};
			};

			adc0: adc@f8018000 {
				status = "disabled";
			};

			i2c2: i2c@f801c000 {			
				status = "disabled";
			};

			macb1: ethernet@f802c000 {
				phy-mode = "rmii";
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";

				ethernet-phy@1 {
					interrupt-parent = <&pioE>;
                    interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
					reg = <0x1>;
				};
			};

			dbgu: serial@ffffee00 {
				status = "okay";
			};

			hlcdc: hlcdc@f0030000 {
				status = "okay";

				hlcdc-display-controller {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_rgb888_alt>;

					port@0 {
						hlcdc_panel_output: endpoint@0 {
							reg = <0>;
							remote-endpoint = <&panel_input>;
						};
					};
				};
			};

			pinctrl@fffff200 {
				board {

					pinctrl_usba_vbus: usba_vbus {
						atmel,pins =
							<AT91_PIOD 31 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_usbb_oc: usbb_oc {
						atmel,pins =
							<AT91_PIOE 17 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_usbc_oc: usbc_oc {
						atmel,pins =
							<AT91_PIOE 24 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};
				};

				w1_0 {
					pinctrl_w1_0: w1_0-0 {
						atmel,pins = <AT91_PIOE 25 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
					};
				};

				touch-ctrl {
					pinctrl_touch: tci_0-0 {
						atmel,pins = 
							<AT91_PIOC 31 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH /* pen down irq */
							AT91_PIOC 28 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>; /* busy */
					};
				};

				pwr_ctrl {
					pinctrl_pwr_usb0: pwr_0-0 {
							atmel,pins = <AT91_PIOE 19 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

					pinctrl_pwr_usb1: pwr_0-1 {
							atmel,pins = <AT91_PIOE 26 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

					pinctrl_pwr_serial: pwr_0-2 {
							atmel,pins = <AT91_PIOE 29 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

				};
			};
		};

		usb0: gadget@500000 {
			atmel,vbus-gpio = <&pioD 31 GPIO_ACTIVE_HIGH>;	/* PE9, conflicts with A9 */
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usba_vbus>;
			status = "okay";
		};

		usb1: ohci@600000 {
			num-ports = <1>;
			atmel,vbus-gpio = <&pioE 17 GPIO_ACTIVE_LOW>;
			pinctrl-0 = <&pinctrl_usbb_oc &pinctrl_pwr_usb0>;
			status = "okay";
		};

		usb2: ehci@700000 {
			num-ports = <1>;
			atmel,oc-gpio = <&pioE 24 GPIO_ACTIVE_LOW>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usbc_oc &pinctrl_pwr_usb1>;
			status = "okay";
		};

		ebi: ebi@10000000 {
			pinctrl-0 = <&pinctrl_ebi_nand_addr>;
			pinctrl-names = "default";
			status = "okay";

			nand_controller: nand-controller {
				status = "okay";

				nand@3 {
					reg = <0x3 0x0 0x2>;
					atmel,rb = <0>;
					nand-bus-width = <8>;
					nand-ecc-mode = "hw";
					nand-ecc-strength = <4>;
					nand-ecc-step-size = <512>;
					nand-on-flash-bbt;
					label = "atmel_nand";

					partitions {
						compatible = "fixed-partitions";
						#address-cells = <1>;
						#size-cells = <1>;

						at91bootstrap@0 {
							label = "at91bootstrap";
							reg = <0x0 0x40000>;
						};

						bootloader@40000 {
							label = "bootloader";
							reg = <0x40000 0xc0000>;
						};

						bootloaderenvred@100000 {
							label = "bootloader env redundant";
							reg = <0x100000 0x40000>;
						};

						bootloaderenv@140000 {
							label = "bootloader env";
							reg = <0x140000 0x40000>;
						};

						dtb@180000 {
							label = "device tree";
							reg = <0x180000 0x80000>;
						};

						kernel@200000 {
							label = "kernel";
							reg = <0x200000 0x600000>;
						};

						rootfs@800000 {
							label = "rootfs";
							reg = <0x800000 0x0f800000>;
						};
					};
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		run {
			label = "rbt410:run";
			gpios = <&pioE 20 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		disk {
			label = "rbt410:disk";
			gpios = <&pioE 21 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "nand-disk";
			default-state = "off";
		};

		usbpwr0 {
			label = "rbt410:usbpwr0";
			gpios = <&pioE 19 GPIO_ACTIVE_LOW>;
			default-state = "off"; 
			pinctrl-0 = <&pinctrl_pwr_usb0>;
		};

		usbpwr1 {
			label = "rbt410:usbpwr1";
			gpios = <&pioE 26 GPIO_ACTIVE_LOW>;
			default-state = "off"; 
			pinctrl-0 = <&pinctrl_pwr_usb1>;
		};
		
		serialpwr {
			label = "rbt410:serialpwr";
			gpios = <&pioE 29 GPIO_ACTIVE_LOW>;
			default-state = "off"; 
			pinctrl-0 = <&pinctrl_pwr_serial>;
		};


	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;		
		

		up {
			label = "UpArrow";
			gpios = <&pioD 23 GPIO_ACTIVE_LOW>;
			linux,code = <103>;
			gpio-key,wakeup;
		};

		down {
			label = "DownArrow";
			gpios = <&pioD 22 GPIO_ACTIVE_LOW>;
			linux,code = <108>;
			gpio-key,wakeup;
		};

		escape {
			label = "Escape";
			gpios = <&pioD 21 GPIO_ACTIVE_LOW>;
			linux,code = <1>;
			gpio-key,wakeup;
		};

		enter {
			label = "Enter";
			gpios = <&pioD 20 GPIO_ACTIVE_LOW>;
			linux,code = <28>;
			gpio-key,wakeup;
		};

	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&hlcdc_pwm 0 50000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		power-supply = <&bl_reg>;
		status = "okay";
	};

	bl_reg: backlight_regulator {
		compatible = "regulator-fixed";
		regulator-name = "backlight-power-supply";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		status = "okay";
	};

	panel_reg: panel_regulator {
		compatible = "regulator-fixed";
		regulator-name = "panel-power-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		status = "okay";
	};

	panel: panel {
		compatible = "newhaven,nhd-70-800480ef-atxl", "simple-panel";
		backlight = <&backlight>;
		power-supply = <&panel_reg>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&hlcdc_panel_output>;
			};
		};
	};

	onewire@0 {
		compatible = "w1-gpio";
		gpios = <&pioE 25 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_w1_0>;
	};


	
};
